<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Desarrollador</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img src="assets/39.png" alt="Foto del desarrollador" class="imagen-personalizada"></ion-img>
      <br>
      <p>Nombre: Crismery</p>
      <p>Apellido: Disla Vidal</p>
      <p>Matrícula: Matrícula del desarrollador</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Reflexión sobre la guerra</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p> «La guerra es una masacre entre gentes que no se conocen, para provecho de gentes que sí se conocen pero que no se masacran«. Paul Valéry, escritor francés.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
